{% include 'base.html' %}

{% if user.is_authenticated %}
<h3 style="margin: 8px 0px 18px 24px;">Dashboard</h3>
<div class="container">
<div class="card" style="width: 18rem; display: inline-block; margin: 0px 49px 0px -94px;">
  <div class="card-body">
    <h5 class="card-title">Total Orders</h5>
    <p class="card-text">{{Total_orders}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card" style="width: 18rem; display: inline-block; margin: 0px 49px 0px 0px;">
  <div class="card-body">
    <h5 class="card-title">Pending</h5>
    <p class="card-text">{{pending_orders}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card" style="width: 18rem; display: inline-block; margin: 0px 49px 0px 0px;">
  <div class="card-body">
    <h5 class="card-title">Cancelled Orders</h5>
    <p class="card-text">{{Cancelled_orders}}</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card" style="width: 18rem; display: inline-block; margin: 0px 49px 0px 0px;">
  <div class="card-body">
    <h5 class="card-title">Delivered Items</h5>
    <p class="card-text">{{Delivered}}</p>
    <!-- <!- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
</div>
<!-- ---------------------------- Recent Orders ----------------------------------- -->
<div class="container text-left " style="margin: 25px 0px 0px 0px;">
  <div class="row">
    <div class="col-6 " style="max-height: 425px; overflow-y: auto;">
      <h3>Recent Orders</h3>
      <table class="table table-hover">
      <tr>
        <th>Customer</th>
        <th>Product</th>
        <th>Date Ordered</th>
        <th>Status</th>
        <th>Update</th>
        <!-- <th>Remove</th> -->
      </tr>
      {% for order in orders %}
      <tr>
        <td>{{order.Customer_ID}}</td>
        <td>{{order.product_name}}</td>
        <td>{{order.Date_ordered}}</td>
        {% if order.Status == 0 %}
          <td>Pending</td>
        {% elif order.Status == 1 %}
          <td>Delivered</td>
        {% else %}
          <td>Cancelled</td>
        {% endif %}
        <td><a href="{% url 'up_orders' order.Order_id %}" class="btn btn-secondary">Update</a></td>
        <!-- <td><button class="btn btn-danger" onclick="RemoveOrder()">Remove</button></td> -->
      </tr>
      {% endfor %}
      </table>
    </div>
    <!-- ----------------------------------------Customer------------------------------------------- -->
    <div class="col-6" style="max-height: 425px; overflow-y: auto;">
      <h3 style="margin-left:113px ;">Customers</h3>
      <div class="col-lg-10 md-3" >
      <table class="table" style="margin: 0px 0px 0px 114px;">
        <tr>
          <th>Customer</th>
          <th>Phone</th>
          <th></th>
        </tr>
        {% for customer in records %}
        <tr>
          <td>{{customer.first_name}}</td>
          <td>{{customer.phone}}</td>
          <td><a href="{% url 'record' customer.id %}" style="text-decoration: none; ">View</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
  </div>
</div>

<script>
    function RemoveOrder(){
      document.getElementById("{{order.Customer_ID}}").style.display= "none";
    }

</script>

{% else %}
<div class="col-md-6 offset-md-3" >
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <button type="submit" class="btn btn-secondary ">Login</button>
      </form>
</div>
{% endif %}

