{% include 'base.html' %}

<br>
<div class="card">
    <div class="card-header">
      {{Records.first_name}} {{Records.last_name}}
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Email:  </strong>{{Records.email}}</p>
      <p class="card-text"><strong>Phone:  </strong>{{Records.phone}}</p>
      <p class="card-text"><strong>Address:  </strong>{{Records.address}}</p>
      <p class="card-text"><strong>City:  </strong>{{Records.city}}</p>
      <p class="card-text"><strong>State:  </strong>{{Records.state}}</p>
      <p class="card-text"><strong>Zipcode:  </strong>{{Records.zipcode}}</p>
    </div>
  </div>
<br> <br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to really delete the record?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'Delete' Records.id %}" class="btn btn-primary">Confirm</a>
      </div>
    </div>
  </div>
</div>



<a href="{% url 'update' Records.id  %}" class="btn btn-secondary">Update record</a>